body{
    background-color: aqua;
    padding: auto;
    margin: 0px;
    background-image: url('../html/b2.png');
}
h1{
    text-align: center;
    color: white;
    padding: auto;
    font-size: large;
}